.vs/
.vscode/

Seltzr/bin
Seltzr/obj

/Seltzr.EntityFrameworkCore/obj
/Seltzr.EntityFrameworkCore/bin
/Seltzr.EntityFramework/obj
/Seltzr.EntityFramework/bin
/Seltzr.OrmBase/obj
/Seltzr.OrmBase/bin

/Seltzr.sln.DotSettings.user

TestProject/obj
TestProject/bin
TestProject/TestProject.csproj.user

node_modules
/docs-src/docfx_project/obj/.cache/build

/docs-src/
/docs-src/docfx